absl-py==2.1.0
aicsimageio==4.14.0
aicspylibczi==3.2.1
aiobotocore==2.5.4
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aioitertools==0.12.0
aiosignal==1.4.0
alabaster==1.0.0
annotated-types==0.7.0
app-model==0.3.1
appdirs==1.4.4
asciitree==0.3.3
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.1.0
babel==2.17.0
botocore==1.31.17
-e git+https://github.com/quantumjot/btrack.git@c0dfd9d45c6140c33682ec25b436587b62297bc8#egg=btrack
build==1.2.2.post1
cachey==0.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
cmake==3.31.4
comm==0.2.2
contourpy==1.3.1
csbdeep==0.8.1
cvxopt==1.3.2
cycler==0.12.1
dask==2025.2.0
debugpy==1.8.12
decorator==5.1.1
docstring_parser==0.16
docutils==0.21.2
elementpath==5.0.3
exceptiongroup==1.2.2
executing==2.2.0
fasteners==0.19
flatbuffers==25.2.10
flexcache==0.3
flexparser==0.4
fonttools==4.55.8
freetype-py==2.5.1
frozenlist==1.7.0
fsspec==2023.6.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.13.0
HeapDict==1.0.1
hsluv==5.0.4
idna==3.10
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1736603156504/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
imagesize==1.4.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
in-n-out==0.2.1
ipykernel==6.29.5
ipython==8.32.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kagglehub==0.3.12
keras==3.8.0
kiwisolver==1.4.8
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
libclang==18.1.1
llvmlite==0.44.0
locket==1.0.0
lxml==4.9.4
magicgui==0.10.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
multidict==6.6.3
namex==0.0.8
napari==0.5.6
napari-console==0.1.3
napari-plugin-engine==0.2.0
napari-plugin-manager==0.1.4
napari-svg==0.2.1
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
npe2==0.7.8
numba==0.61.0
numcodecs==0.13.1
numpy==1.26.4
numpydoc==1.8.0
ome-types==0.6.1
ome-zarr==0.11.1
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.14.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.2.3
parso==0.8.4
partd==1.4.2
PartSegCore_compiled_backend==0.15.11
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929693232/work
Pint==0.24.4
platformdirs==4.3.6
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
pooch==1.8.2
prompt_toolkit==3.0.50
propcache==0.3.2
protobuf==5.29.3
psutil==6.1.1
psygnal==0.12.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyconify==0.2.1
pydantic==2.11.7
pydantic-compat==0.1.2
pydantic-extra-types==2.10.5
pydantic_core==2.33.2
Pygments==2.19.1
pylibCZIrw==4.1.3
PyOpenGL==3.1.9
pyparsing==3.2.1
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5-sip==12.12.2
PySide2==5.15.15
python-dateutil==2.9.0.post0
pytz==2025.1
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==26.2.1
qtconsole==5.6.1
QtPy==2.4.3
referencing==0.36.2
requests==2.32.3
resource-backed-dask-array==0.1.0
rich==13.9.4
rpds-py==0.23.1
s3fs==2023.6.0
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1739948399191/work/dist/scikit_image-0.25.2-cp310-cp310-linux_x86_64.whl#sha256=755bc62010a9a67ce7384f2bbfc914800a5c05d4c5926a93afcf5a232b812ee6
scikit-learn==1.6.1
scipy==1.15.0
shellingham==1.5.4
shiboken2==5.15.15
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300428978/work
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
stardist==0.9.1
superqt==0.7.1
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2023.2.28
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomli_w==1.2.0
toolz==1.0.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
triangle==20250106
typer==0.15.2
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
validators==0.34.0
vispy==0.14.3
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
xarray==2025.6.1
xmlschema==4.1.0
xmltodict==0.14.2
xsdata==24.3.1
yarl==1.20.1
zarr==2.15.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
